
:root{
    --white:#fff;
    --text-color:#000000;
    --text-size: 16px;
    --button-color: #2196F3;
    --logo-color: #000000;
    --title-color: #212121;
    --fotter-color: #2F303A;
    --phone-color:#757575;
    --header-color: #ECECEC;
    --team-color:#F5F4FA;
    
 }
/*видалення підкреслення  тексту*/
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    font-style: normal;
}
  
/*h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}
  
img {
    display: block;
}*/


.heading {
    display: flex;
    align-items: center;
}
.header-nav {
    margin-left: 93px;
    }

.header{
background-color: var(--white);
padding-top: 24px;
padding-bottom: 25px;
border-bottom: 1px var(--header-color) solid;
}

.body {
    font-family: "Roboto";
}   
    /* Логотип */ 
.header-logo {
    color: var(--button-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}

.header-link {
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}


          /*Шапка*/
.header-list {
display: flex;
margin-left: auto;
gap: 50px;
}

.heading-link{
    font-family: "Roboto", sans-serif;
    color: var(--phone-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}
.heading-link:hover , :focus {
    color: var(--button-color);
}
            /* Навігація */

.nav-list {
display: flex;
gap: 50px;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover, :focus {
    color: var(--button-color);
}
.address {
    color: var(--button-color);
}
 
/*фон*/
.solution{
    background-color: var(--fotter-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
 h1{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    text-align: center;
 }
.solution-button{
    width: 216px;
    height: 50px;
    border: none;
    border: #2196F3;
    border-radius: 4px;
    background-color: var(--button-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.96px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.solution-button:hover:focus{
    background-color: #51adf6;
}

/*чим ми займаємось*/
.function{
    font-family: "Roboto", sans-serif;
    background-color: var(--white);
    padding-top: 47px;
    padding-bottom: 94px;
    text-align: center;
}
.function-title {
    font-family: "Roboto", sans-serif;
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.function-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

        /*КОМАНДА*/
.command{
    background-color: var(--team-color);
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
}      
.command-title{
    font-family: "Roboto", sans-serif;
    color: var(--title-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.command-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.command-item {
    width: 270px;
    height: 368px;
    border-radius: 0px 0px 4px 4px;
    background: var(--header-title);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}
.command-image {
    width: 270px;
    height: 260px;
}

.command-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.command-name{
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
}
.command-profession{
    color: var(--phone-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
    margin-top: 10px;
}
/*НАШІ ПЕРЕВАГИ*/

.specialty{
    background-color: #fff;
    padding-top: 94px;
    padding-bottom: 197px;
}
.specialty-title{
    width: 270px;
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.specialty-text{
    width: 270px;
    height: 72px;
    color: var(--phone-color);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}



.specialty-list{
    display: flex;
    gap: 30px;
}
.specialty-item{
    width: 270px;
    height: 98px;
}


  /*Підвал*/
  .footer{
    background-color: var(--fotter-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-address {
    width: 231px;
    height: 81px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-logo{
    color: var(--button-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}
.footer-link{
    color: var(--white);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: 0.78px;
}
 .footer-link:hover, :focus{
    color: var(--button-color);
 }

 .address-list{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.address-location{
    width: 231px;
    height: 21px;
    color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
  .address-location:hover, :focus{
    color: var(--button-color);
}
.address-link{
    width: 136px;
    height: 21px;
    color: var(--phone-color);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.address-link:hover, :focus{
    color: var(--button-color);
}